*{
    font-family: Arial, sans-serif;
}
.sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.sidebar.open {
    left: 0;
}

.sidebar button {
    display: block;
    margin: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar .selectedLi {
    padding: 20px;
    cursor: pointer;
    
}

.sidebar .selectedLi:hover {
    background-color: #f2f2f2;
    
}

.sidebarHeader {
   
    font-size: 30px;
    text-align: center;
    padding: 20px;
    cursor: default;
    border-bottom: 1px solid #cccccc;
    background-color: black;
    color: white;
}
